@font-face {
  font-family: Nature;
  src: url("CantoraOne-Regular.ttf");
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  background-image: url("https://www.theleela.com/prod/content/assets/aio-banner/dekstop/Short-stay-in%20-Bengaluru-here%20-are-four-places%20-to-visit-nearby.jpg?VersionId=3HuI_kjqoeb9V.k29Bd3N_fmsWkgkdqk");
  color: white;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Nature, Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h3 {
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

h1 {
  background-color: #283618;
}

h3 {
  background-color: #606c38;
}
