@font-face {
  font-family: Nature;
  src: url("CantoraOne-Regular.ttf");
}

@font-face {
  font-family: godfather;
  src: url("PlaywriteNZBasic-VariableFont_wght.ttf");
}

body {
  font-family: godfather,Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.hero {
  background-image: url("https://www.theleela.com/prod/content/assets/aio-banner/dekstop/Short-stay-in%20-Bengaluru-here%20-are-four-places%20-to-visit-nearby.jpg?VersionId=3HuI_kjqoeb9V.k29Bd3N_fmsWkgkdqk");
  color: white;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Nature, Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h3 {
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

h1 {
  background-color: #283618;
}

h3 {
  background-color: #606c38;
}

.card img {
  height: 200px;
  border-radius: 50%;
}

h2 {
  margin: 0px;
  padding: 50px;
  background-color: #f1faee;
  text-align: center;
}

.content {
  margin-top: 0;
  background: #f1faee;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.card {
  width: 400px;
}

.guide {
  width: 600px;
  margin: 0 auto 50px auto;
  background-color: #a8dadc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 6px solid #1d3557;
}

.guide img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
}
